# 🚀 Welcome to the Data Normalization & Scaling Coding Exercise! ⚖️✨

In today's session, we will dive into the critical preprocessing techniques of **data normalization** and **scaling**. These techniques ensure that your features are on a comparable scale, preventing one feature from dominating the rest due to differences in range or scale. This notebook will guide you through various scaling techniques that are fundamental in machine learning.

## **Instructions:**
- **Time Limit:** You have **60 minutes** to complete this notebook.
- **Objective:** Implement the different scaling techniques (Min-Max Scaling, Z-score Standardization, Robust Scaling, MaxAbs Scaling), understand how each one works, and explore their impact on the dataset. Document your approach and use external resources if needed.
- **Presentation:** After completing the notebook, be ready to present your work. You’ll share how each technique affects the dataset and discuss your findings with peers.
- **Ask for Help:** If you encounter any difficulties, feel free to reach out to the instructor for clarification, share your screen, and discuss your thoughts.

## **Why This Matters:**
Normalization and scaling are key steps in the data preprocessing pipeline. Applying these techniques correctly ensures better model performance and stability, especially when dealing with algorithms sensitive to feature scales like gradient-based methods and distance-based models.

Get ready to master these vital preprocessing techniques and bring your dataset into balance! Happy coding! ⚖️🔢

# Data Normalization & Scaling

**Data normalization**, also known as **data scaling**, is a preprocessing technique used in machine learning to standardize and rescale the features of a dataset. The primary goal is to bring all the features onto a common scale, making them comparable and preventing certain features from dominating others due to differences in their scales.

## 1. Min-Max Scaling (MinMax Scaling)

Min-Max Scaling scales the data to a specific range, usually between 0 and 1.

- **Formula:**  
  `X_normalized = (x - min(x)) / (max(x) - min(x))`

## 2. Standardization (Z-score Normalization)

Standardization scales the data to have a mean of 0 and a standard deviation of 1.

- **Formula:**  
  `X_standardized = (x - mean(x)) / std(x)`

## 3. Robust Scaling

Robust Scaling is based on the interquartile range (IQR) and is less sensitive to outliers compared to other scaling methods.

- **Formula:**  
  `X_robust = (x - median(x)) / IQR(x)`

## 4. MaxAbs Scaling

MaxAbs Scaling scales each feature by its maximum absolute value, ensuring the data is within the range [-1, 1].

- **Formula:**  
  `X_MaxAbs = x / max(abs(x))`

---

By applying these scaling techniques, machine learning models can perform better by treating all features with equal importance.

# Coding the different scaling techniques

For first example we are going to see a example of applying the MinMax scaler on an existing dataset of flights informations from 'statsmodels.apie' library.

In [ ]:
!pip install category_encoders

Requirement already satisfied: category_encoders in /usr/local/lib/python3.10/dist-packages (2.6.4)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.26.4)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.5.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.13.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (0.14.4)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (2.2.2)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (0.5.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.5->category_encoders) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.5->category_encoders) (2024.2)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.5.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.10/dist-packages (from statsmodels>=0.9.0->category_encoders) (24.1)

1. Import the python libraries

In [ ]:
import statsmodels.api as sm
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

2. Load the flights dataset

In [ ]:
df = sm.datasets.get_rdataset('flights', 'nycflights13').data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336776 entries, 0 to 336775
Data columns (total 19 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   year            336776 non-null  int64
 1   month           336776 non-null  int64
 2   day             336776 non-null  int64
 3   dep_time        328521 non-null  float64
 4   sched_dep_time  336776 non-null  int64
 5   dep_delay       328521 non-null  float64
 6   arr_time        328063 non-null  float64
 7   sched_arr_time  336776 non-null  int64
 8   arr_delay       327346 non-null  float64
 9   carrier         336776 non-null  object
 10  flight          336776 non-null  int64
 11  tailnum         334264 non-null  object
 12  origin          336776 non-null  object
 13  dest            336776 non-null  object
 14  air_time        327346 non-null  float64
 15  distance        336776 non-null  int64
 16  hour            336776 non-null  int64
 17  minute          336776 non-null  int64
 18  time_hour       336776 non-null  object
dtypes: float64(5), int64(9), object(5)
memory usage: 48.8+ MB

3. Display the first 5 rows of the dataset

In [ ]:
# put your code here
df = sm.datasets.get_rdataset('flights', 'nycflights13').data
print(df.head())

   year  month  day  dep_time  sched_dep_time  dep_delay  arr_time  \
0  2013      1    1     517.0             515        2.0     830.0
1  2013      1    1     533.0             529        4.0     850.0
2  2013      1    1     542.0             540        2.0     923.0
3  2013      1    1     544.0             545       -1.0    1004.0
4  2013      1    1     554.0             600       -6.0     812.0

   sched_arr_time  arr_delay carrier  flight tailnum origin dest  air_time  \
0             819       11.0      UA    1545  N14228    EWR  IAH     227.0
1             830       20.0      UA    1714  N24211    LGA  IAH     227.0
2             850       33.0      AA    1141  N619AA    JFK  MIA     160.0
3            1022      -18.0      B6     725  N804JB    JFK  BQN     183.0
4             837      -25.0      DL     461  N668DN    LGA  ATL     116.0

   distance  hour  minute             time_hour
0      1400     5      15  2013-01-01T10:00:00Z
1      1416     5      29  2013-01-01T10:00:00Z
2      1089     5      40  2013-01-01T10:00:00Z
3      1576     5      45  2013-01-01T10:00:00Z
4       762     6       0  2013-01-01T11:00:00Z

4. Check how many element have nul value for each column in dataset

In [ ]:
#put your code here
df = sm.datasets.get_rdataset('flights', 'nycflights13').data
null_counts = df.isnull().sum()
print(null_counts)

year                 0
month                0
day                  0
dep_time          8255
sched_dep_time       0
dep_delay         8255
arr_time          8713
sched_arr_time       0
arr_delay         9430
carrier              0
flight               0
tailnum           2512
origin               0
dest                 0
air_time          9430
distance             0
hour                 0
minute               0
time_hour            0
dtype: int64

5. Delete the rows with NaN values

In [ ]:
#put your code here
df_cleaned = df.dropna()
print(df_cleaned.head())

   year  month  day  dep_time  sched_dep_time  dep_delay  arr_time  \
0  2013      1    1     517.0             515        2.0     830.0
1  2013      1    1     533.0             529        4.0     850.0
2  2013      1    1     542.0             540        2.0     923.0
3  2013      1    1     544.0             545       -1.0    1004.0
4  2013      1    1     554.0             600       -6.0     812.0

   sched_arr_time  arr_delay carrier  flight tailnum origin dest  air_time  \
0             819       11.0      UA    1545  N14228    EWR  IAH     227.0
1             830       20.0      UA    1714  N24211    LGA  IAH     227.0
2             850       33.0      AA    1141  N619AA    JFK  MIA     160.0
3            1022      -18.0      B6     725  N804JB    JFK  BQN     183.0
4             837      -25.0      DL     461  N668DN    LGA  ATL     116.0

   distance  hour  minute             time_hour
0      1400     5      15  2013-01-01T10:00:00Z
1      1416     5      29  2013-01-01T10:00:00Z
2      1089     5      40  2013-01-01T10:00:00Z
3      1576     5      45  2013-01-01T10:00:00Z
4       762     6       0  2013-01-01T11:00:00Z

6. Display the dataset again to check if the missing values are deleted.

In [ ]:
#put your code here
df_cleaned = df.dropna()
print(df_cleaned)
print(df_cleaned.head())

        year  month  day  dep_time  sched_dep_time  dep_delay  arr_time  \
0       2013      1    1     517.0             515        2.0     830.0
1       2013      1    1     533.0             529        4.0     850.0
2       2013      1    1     542.0             540        2.0     923.0
3       2013      1    1     544.0             545       -1.0    1004.0
4       2013      1    1     554.0             600       -6.0     812.0
...      ...    ...  ...       ...             ...        ...       ...
336765  2013      9   30    2240.0            2245       -5.0    2334.0
336766  2013      9   30    2240.0            2250      -10.0    2347.0
336767  2013      9   30    2241.0            2246       -5.0    2345.0
336768  2013      9   30    2307.0            2255       12.0    2359.0
336769  2013      9   30    2349.0            2359      -10.0     325.0

        sched_arr_time  arr_delay carrier  flight tailnum origin dest  \
0                  819       11.0      UA    1545  N14228    EWR  IAH
1                  830       20.0      UA    1714  N24211    LGA  IAH
2                  850       33.0      AA    1141  N619AA    JFK  MIA
3                 1022      -18.0      B6     725  N804JB    JFK  BQN
4                  837      -25.0      DL     461  N668DN    LGA  ATL
...                ...        ...     ...     ...     ...    ...  ...
336765            2351      -17.0      B6    1816  N354JB    JFK  SYR
336766               7      -20.0      B6    2002  N281JB    JFK  BUF
336767               1      -16.0      B6     486  N346JB    JFK  ROC
336768            2358        1.0      B6     718  N565JB    JFK  BOS
336769             350      -25.0      B6     745  N516JB    JFK  PSE

        air_time  distance  hour  minute             time_hour
0          227.0      1400     5      15  2013-01-01T10:00:00Z
1          227.0      1416     5      29  2013-01-01T10:00:00Z
2          160.0      1089     5      40  2013-01-01T10:00:00Z
3          183.0      1576     5      45  2013-01-01T10:00:00Z
4          116.0       762     6       0  2013-01-01T11:00:00Z
...          ...       ...   ...     ...                   ...
336765      41.0       209    22      45  2013-10-01T02:00:00Z
336766      52.0       301    22      50  2013-10-01T02:00:00Z
336767      47.0       264    22      46  2013-10-01T02:00:00Z
336768      33.0       187    22      55  2013-10-01T02:00:00Z
336769     196.0      1617    23      59  2013-10-01T03:00:00Z

[327346 rows x 19 columns]
   year  month  day  dep_time  sched_dep_time  dep_delay  arr_time  \
0  2013      1    1     517.0             515        2.0     830.0
1  2013      1    1     533.0             529        4.0     850.0
2  2013      1    1     542.0             540        2.0     923.0
3  2013      1    1     544.0             545       -1.0    1004.0
4  2013      1    1     554.0             600       -6.0     812.0

   sched_arr_time  arr_delay carrier  flight tailnum origin dest  air_time  \
0             819       11.0      UA    1545  N14228    EWR  IAH     227.0
1             830       20.0      UA    1714  N24211    LGA  IAH     227.0
2             850       33.0      AA    1141  N619AA    JFK  MIA     160.0
3            1022      -18.0      B6     725  N804JB    JFK  BQN     183.0
4             837      -25.0      DL     461  N668DN    LGA  ATL     116.0

   distance  hour  minute             time_hour
0      1400     5      15  2013-01-01T10:00:00Z
1      1416     5      29  2013-01-01T10:00:00Z
2      1089     5      40  2013-01-01T10:00:00Z
3      1576     5      45  2013-01-01T10:00:00Z
4       762     6       0  2013-01-01T11:00:00Z

7. Convert the time  from floats or ints to hour and minutes of the following columns:
- arr_hour , arr_minute, sched_arr_hour, sched_arr_minute , sched_dep_hour and sched_dep_minute.

Indication:
- use this to convert hour 'x/100' : this to separate the hour and minute components of a time represented as an integer. For example :  1230 / 100 will be  12.3 .
- use same logic of devising by 100 or  multiplying by 100 to convert the minutes
- use the np.floor() function to round down the result to the nearest whole number, for example :  np.floor(12.3) results in 12.0 .


8. convert the flight column to string.
9. rename the dep_hour to hour and dep_minute to minute.

In [ ]:
df['arr_hour'] = df['arr_time'].apply(lambda x: int(np.floor(x / 100)) if pd.notna(x) else np.nan)
df['arr_minute'] = df['arr_time'].apply(lambda x: int(x % 100) if pd.notna(x) else np.nan)
df['sched_arr_hour'] = df['sched_arr_time'].apply(lambda x: int(np.floor(x / 100)) if pd.notna(x) else np.nan)
df['sched_arr_minute'] = df['sched_arr_time'].apply(lambda x: int(x % 100) if pd.notna(x) else np.nan)
df['sched_dep_hour'] = df['sched_dep_time'].apply(lambda x: int(np.floor(x / 100)) if pd.notna(x) else np.nan)
df['sched_dep_minute'] = df['sched_dep_time'].apply(lambda x: int(x % 100) if pd.notna(x) else np.nan)
df['flight'] = df['flight']
df.rename(columns={'arr_time': 'arrival_time',
                   'sched_arr_time': 'scheduled_arrival_time'}, inplace=True)
print(df[['flight', 'arr_hour', 'arr_minute', 'sched_arr_hour', 'sched_arr_minute', 'sched_dep_hour', 'sched_dep_minute']].head())

   flight  arr_hour  arr_minute  sched_arr_hour  sched_arr_minute  \
0    1545       8.0        30.0               8                19
1    1714       8.0        50.0               8                30
2    1141       9.0        23.0               8                50
3     725      10.0         4.0              10                22
4     461       8.0        12.0               8                37

   sched_dep_hour  sched_dep_minute
0               5                15
1               5                29
2               5                40
3               5                45
4               6                 0

In [ ]:
df.head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arrival_time,scheduled_arrival_time,arr_delay,carrier,...,distance,hour,minute,time_hour,arr_hour,arr_minute,sched_arr_hour,sched_arr_minute,sched_dep_hour,sched_dep_minute
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,...,1400,5,15,2013-01-01T10:00:00Z,8.0,30.0,8,19,5,15
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,...,1416,5,29,2013-01-01T10:00:00Z,8.0,50.0,8,30,5,29
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,...,1089,5,40,2013-01-01T10:00:00Z,9.0,23.0,8,50,5,40
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,...,1576,5,45,2013-01-01T10:00:00Z,10.0,4.0,10,22,5,45
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,...,762,6,0,2013-01-01T11:00:00Z,8.0,12.0,8,37,6,0

8. Prepare data for modeling and set up train-test split:
- First, copy the 'arr_delay' column from df into y, which will contain the target variable values for arrival delay.
- Second, create new variable X that will contain all columns of df except  'time_hour', 'year', 'dep_time', 'sched_dep_time', 'arr_time', 'sched_arr_time', 'dep_delay' and target ('arr_delay').
- split the new prepared data into train and test with 20% of the data will be used for testing, and the rest (80%) for training, using train_test_split.

In [ ]:
target = 'arr_delay'
y = df[target]
# Update columns_to_drop with the new column names
columns_to_drop = ['time_hour', 'year', 'dep_time', 'sched_dep_time',
                   'arrival_time', 'scheduled_arrival_time', 'dep_delay', target]
X = df.drop(columns=columns_to_drop)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1066)
X_train.dtypes

month                 int64
day                   int64
carrier              object
flight                int64
tailnum              object
origin               object
dest                 object
air_time            float64
distance              int64
hour                  int64
minute                int64
arr_hour            float64
arr_minute          float64
sched_arr_hour        int64
sched_arr_minute      int64
sched_dep_hour        int64
sched_dep_minute      int64
dtype: object

## Encode categorical variables


We convert the categorical features to numerical through the leave one out encoder in categorical_encoders. This leaves a single numeric feature in the place of each existing categorical feature. This is needed to apply the scaler to all features in the training data.

Hint:  apply the LeaveOneOutEncoder() function on each split separatly (training set and test set ).

In [ ]:
import category_encoders as ce

encoder = ce.LeaveOneOutEncoder(return_df=True)
X_train_loo = encoder.fit_transform(X_train, y_train)
X_test_loo = encoder.transform(X_test)
X_train_loo.shape

(261876, 17)

In [ ]:
X_train_loo.describe()

,month,day,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,arr_hour,arr_minute,sched_arr_hour,sched_arr_minute,sched_dep_hour,sched_dep_minute
count,261876.000000,261876.000000,261876.000000,261876.000000,261876.000000,261876.000000,261876.000000,261876.000000,261876.000000,261876.000000,261876.000000,261876.000000,261876.000000,261876.000000,261876.000000,261876.000000,261876.000000
mean,6.568246,15.727864,6.882754,1943.723602,6.876200,6.882754,6.882754,150.594774,1047.624311,13.137641,26.232320,14.722663,29.474499,15.032809,29.029907,13.137641,26.232320
std,3.414977,8.782851,5.454258,1621.109479,8.533383,1.626746,4.798035,93.567094,735.070110,4.659342,19.294383,5.325232,17.357855,4.971609,17.404733,4.659342,19.294383
min,1.000000,1.000000,-11.316547,1.000000,-61.000000,5.546173,-16.181818,20.000000,80.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,0.000000
25%,4.000000,8.000000,1.982494,544.000000,0.923416,5.560977,2.691789,82.000000,509.000000,9.000000,8.000000,11.000000,14.000000,11.000000,14.000000,9.000000,8.000000
50%,7.000000,16.000000,7.503971,1471.000000,6.482353,5.787073,7.325933,129.000000,888.000000,13.000000,29.000000,15.000000,29.000000,15.000000,30.000000,13.000000,29.000000
75%,10.000000,23.000000,9.616774,3412.000000,11.843750,9.057416,9.832984,191.000000,1389.000000,17.000000,44.000000,19.000000,45.000000,19.000000,44.000000,17.000000,44.000000
max,12.000000,31.000000,20.018584,8500.000000,214.200000,9.058440,45.075949,695.000000,4983.000000,23.000000,59.000000,24.000000,59.000000,23.000000,59.000000,23.000000,59.000000

## We apply the MinMax scaler from scikit-learn.

Scale the encoded X_train using the MinMaxScaler() function.

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train_loo)
X_train_scaled.shape

(261876, 17)

- Convert the scaled data into DataFrame()

In [ ]:
X_train_scaled_df = pd.DataFrame(X_train_scaled, columns=X_train_loo.columns)
X_train_scaled_df.describe()

,month,day,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,arr_hour,arr_minute,sched_arr_hour,sched_arr_minute,sched_dep_hour,sched_dep_minute
count,261876.000000,261876.000000,261876.000000,261876.000000,261876.000000,261876.000000,261876.000000,261876.000000,261876.000000,261876.000000,261876.000000,261876.000000,261876.000000,261876.000000,261876.000000,261876.000000,261876.000000
mean,0.506204,0.490929,0.580795,0.228583,0.246643,0.380546,0.376517,0.193474,0.197354,0.452091,0.444616,0.613444,0.499568,0.653600,0.492032,0.452091,0.444616
std,0.310452,0.292762,0.174062,0.190741,0.031008,0.463161,0.078325,0.138618,0.149923,0.258852,0.327023,0.221885,0.294201,0.216157,0.294995,0.258852,0.327023
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.272727,0.233333,0.424413,0.063890,0.225012,0.004215,0.308101,0.091852,0.087497,0.222222,0.135593,0.458333,0.237288,0.478261,0.237288,0.222222,0.135593
50%,0.545455,0.500000,0.600620,0.172962,0.245212,0.068588,0.383751,0.161481,0.164797,0.444444,0.491525,0.625000,0.491525,0.652174,0.508475,0.444444,0.491525
75%,0.818182,0.733333,0.668046,0.401341,0.264694,0.999709,0.424678,0.253333,0.266979,0.666667,0.745763,0.791667,0.762712,0.826087,0.745763,0.666667,0.745763
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

## To do :


In this section, we will use a gym_members_exercise_tracking dataset. This dataset offers an in-depth view of gym members' exercise habits, physical characteristics, and fitness measurements. It comprises 973 entries, capturing key performance metrics such as heart rate, calories burned, and workout duration. Additionally, the dataset includes demographic information and experience levels, facilitating a comprehensive analysis of fitness trends, athlete development, and health patterns.

Key Features:

- Age: Age of the gym member.
- Gender: Gender of the gym member (Male or Female).
- Weight (kg): Member’s weight in kilograms.
- Height (m): Member’s height in meters.
- Max_BPM: Maximum heart rate (beats per minute) during workout sessions.
- Avg_BPM: Average heart rate during workout sessions.
- Resting_BPM: Heart rate at rest before workout.
- Session_Duration (hours): Duration of each workout session in hours.
- Calories_Burned: Total calories burned during each session.
- Workout_Type: Type of workout performed (e.g., Cardio, Strength, Yoga, HIIT).
- Fat_Percentage: Body fat percentage of the member.
- Water_Intake (liters): Daily water intake during workouts.
- Workout_Frequency (days/week): Number of workout sessions per week.
- Experience_Level: Level of experience, from beginner (1) to expert (3).
- BMI: Body Mass Index, calculated from height and weight.


## Instructions


1. Load the dataset **gym_members_exercise_tracking.csv**.
2. Handle any missing values.
3. Select 2 numerical columns and scale them with Standard Scaling.
4. Select 2 other numerical columns and scale them with Min-Max Scaling.
5. Select 2 other numerical columns and scale them with a scaler different than Standard or Min-Max scaler like RobustScaler or Max
Abs Scaler etc.
6. Visualize the distribution of each normalized column and analyze the plot.

In [ ]:
import pandas as pd
gym = pd.read_csv ('/content/gym_members_exercise_tracking - gym_members_exercise_tracking.csv')
gym.head()

,Age,Gender,Weight (kg),Height (m),Max_BPM,Avg_BPM,Resting_BPM,Session_Duration (hours),Calories_Burned,Workout_Type,Fat_Percentage,Water_Intake (liters),Workout_Frequency (days/week),Experience_Level,BMI
0,56,Male,88.3,1.71,180,157,60,1.69,1313.0,Yoga,12.6,3.5,4,3,30.20
1,46,Female,74.9,1.53,179,151,66,1.30,883.0,HIIT,33.9,2.1,4,2,32.00
2,32,Female,68.1,1.66,167,122,54,1.11,677.0,Cardio,33.4,2.3,4,2,24.71
3,25,Male,53.2,1.70,190,164,56,0.59,532.0,Strength,28.8,2.1,3,1,18.41
4,38,Male,46.1,1.79,188,158,68,0.64,556.0,Strength,29.2,2.8,3,1,14.39

### Let's discover new concept: Lambda Function in Python

Lambda functions, also known as anonymous functions, are a concise way to define small, single-expression functions in Python. They are typically used when you need a simple function for a short period of time, often as an argument to higher-order functions (such as `map()`, `filter()`, or `sorted()`).

A lambda function is defined using the keyword `lambda`, followed by a list of parameters, a colon, and the expression that is evaluated and returned.

#### Syntax:
```python
lambda arguments: expression

In [ ]:
add = lambda x,y : x + y
print(add(5,7))

12

In [ ]:
numbers = [1,2,3,4,5]
squared = list(map(lambda x: x**2,numbers))
print(squared)

[1, 4, 9, 16, 25]

In [ ]:

even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

[2, 4]

In [ ]:
numbers = [1,2,3,4,5,6]
odd_numbers = filter( lambda x: x % 2 != 0 , numbers)
print(list(odd_numbers))

[1, 3, 5]

In [ ]:
numbers = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
sorted_numbers = sorted(numbers, key=None, reverse=False)
print(sorted_numbers)

[1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9]

In [ ]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df['C'] = df.apply(lambda x: x['A'] + x['B'], axis=1)
print(df)

   A  B  C
0  1  4  5
1  2  5  7
2  3  6  9